/* ======================================== */
/* ===== ELEMENT SELECTORS ================ */
/* ======================================== */

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

header * {
    display: inline-block;
}

h2,
legend {
    padding: 15px;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    font-size: .8rem;
}

textarea {
    height: 100px;
}

::placeholder {
    font-size: 1rem;
    color: #888;
}

input,
textarea,
select,
label {
    margin: 0 15px 15px;
}

input,
textarea,
select {
    padding: 15px;
    border-radius: 5px;
}

input,
textarea,
select {
    background-color: #ddd;
    color: #888;
    border: solid 2px #aaa;
}

/* ======================================== */
/* ===== CLASS SELECTORS ================== */
/* ======================================== */

.grid-container {
    display: grid;
}

.flex-container,
.top-tab,
.traffic-select,
.traffic-container {
    display: flex;
    align-items: center;
}

.flex-container {
    justify-content: space-between;
}

.container {
    border-bottom: solid 1px #aaa;
}

.logo {
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: normal;
}

.logo strong {
    font-weight: bold;
}

.img-container {
    width: 45px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: solid 1px #aaa;
}

.profile-img {
    width: 100%;
    border-radius: 50%;
}

.top-tab span {
    display: inline-block;
    width: 100%;
    height: 52px;
    background-color: #ddd;
    border-left: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
}

.page-heading {
    font-size: 1.1rem;
    text-transform: capitalize;
    border-bottom: none;
}

.alert {
    display: flex;
    margin: 15px;
    padding: 10px 15px;
    justify-content: space-between;
    background-color: #8f87ff;
    color: #fff;
    border-radius: 5px;
}

.alert button {
    background-color: #8f87ff;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.traffic-select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.traffic-container {
    flex-direction: row;
}

.traffic-container label {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    font-size: .9rem;
    border-radius: 29px;
    transition: background-color .5s, color .5s;
}

.traffic-container input[type="radio"] {
    display: none;
}

.traffic-container input[type="radio"]:checked + label {
    background-color: #66b564;
    color: #fff;
}

.social {
    display: flex;
    align-items: center;
    margin: 0 15px 15px;
    padding: 10px;
    background-color: #ddd;
    border: solid 1px #aaa;
    border-radius: 5px;
}

.stat {
    margin-left: 10px;
}

.stat h3 {
    color: #8f87ff;
}

.stat span {
    font-size: 2.5rem;
    font-weight: 300;
    color: #888;
}

.member,
.activity {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    padding-bottom: 15px;
    align-items: center;
    text-align: center;
}

.member:not(:first-of-type),
.activity:not(:first-of-type) {
    padding-top: 15px;
    border-top: solid 1px #aaa;
}

.member img,
.activity img {
    width: 70px;
    border-radius: 50%;
}

.member p,
.activity p {
    margin: 0 10px;
}

.member a:link {
    color: #8f87ff;
}

.member a:hover {
    color: #66b564;
}

.member a:visited {
    color: #36315e;
}

.activity strong {
    font-weight: 600;
}

.send-btn,
.save-btn,
.cancel-btn {
    margin: 0 15px 15px;
    padding: 15px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.send-btn,
.save-btn {
    background-color: #8f87ff;
}

.save-btn,
.cancel-btn {
    width: 50%;
}

.cancel-btn {
    background-color: #888;
}

.setting,
.settings-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ======================================== */
/* ===== ID SELECTORS ===================== */
/* ======================================== */

#main-header {
    padding: 10px;
    background-color: #8f87ff;
    color: #fff;
}

#main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36315e;
}

#main-nav a {
    text-decoration: none;
    fill: #fff;
}

/* ======================================== */
/* ===== SVG STYLES ======================= */
/* ======================================== */

.notification-bell {
    width: 25px;
    margin-right: 10px;
    fill: #fff;
}

.nav-svg,
.social-svg,
.social-bg {
    width: 30px;
    height: 30px;
}

.nav-svg {
    padding: 10px;
}

.social-svg {
    fill: #fff;
}

.social-bg {
    padding: 15px;
    background-color: #8f87ff;
    border-radius: 50%;
}

/* ======================================== */
/* ===== MEDIA QUERIES ==================== */
/* ======================================== */

@media screen and (min-width: 768px) {

    p {
        font-size: .9rem;
    }

    .primary-grid-container {
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "nav dashboard";
    }

    .traffic {
        display: flex;
        grid-area: traffic;
        flex-direction: row;
    }

    .traffic h2 {
        margin-right: auto;
    }

    .daily-traffic {
        grid-area: daily-traffic;
    }

    .mobile-users {
        grid-area: mobile-users;
    }

    .social-stats {
        grid-area: social-stats;
    }

    .social-stats-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .social:not(:first-of-type) {
        margin-left: 0;
    }

    .member,
    .activity {
        flex-direction: row;
        text-align: left;
    }

    .member .date {
        margin-left: auto;
        margin-right: 0;
    }

    #main-nav {
        flex-direction: column;
        justify-content: flex-start;
        grid-area: nav;
    }

    #dashboard {
        grid-area: dashboard;
    }

    #visits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "traffic traffic"
            "daily-traffic mobile-users"
            "social-stats social-stats";
    }
}

@media screen and (min-width: 1024px) {

}


