/* ======================================== */
/* ===== ELEMENT SELECTORS ================ */
/* ======================================== */

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

header * {
    display: inline-block;
}

h2,
legend {
    padding: 15px;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    font-size: .8rem;
}

canvas {
    padding: 15px;
}

textarea {
    height: 100px;
}

::placeholder {
    font-size: 1rem;
    color: #888;
}

input,
textarea,
select,
label {
    margin: 0 15px 15px;
}

input,
textarea,
select {
    padding: 15px;
    border-radius: 5px;
}

input,
textarea,
select {
    background-color: #ddd;
    color: #888;
    border: solid 2px #aaa;
}

/* ======================================== */
/* ===== CLASS SELECTORS ================== */
/* ======================================== */

.grid-container {
    display: grid;
}

.flex-container,
.top-tab,
.traffic-select,
.traffic-container {
    display: flex;
    align-items: center;
}

.flex-container {
    justify-content: space-between;
}

.container:not(#settings .container) {
    border-bottom: solid 1px #aaa;
}

.logo {
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: normal;
}

.logo strong {
    font-weight: bold;
}

.img-container {
    width: 45px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: solid 1px #aaa;
}

.profile-img {
    width: 100%;
    border-radius: 50%;
}

.top-tab span {
    display: inline-block;
    width: 100%;
    height: 52px;
    background-color: #ddd;
    border-left: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
}

.page-heading {
    font-size: 1.1rem;
    text-transform: capitalize;
    border-bottom: none;
}

.alert {
    display: flex;
    margin: 15px 15px 0;
    padding: 10px 15px;
    justify-content: space-between;
    background-color: #8f87ff;
    color: #fff;
    border-radius: 5px;
}

.alert button {
    background-color: #8f87ff;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.traffic {
    margin-top: 15px;
}

.traffic-select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.traffic-container {
    flex-direction: row;
}

.traffic-container label {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    font-size: .9rem;
    border-radius: 29px;
    transition: background-color .5s, color .5s;
}

.traffic-container input[type="radio"] {
    display: none;
}

.traffic-container input[type="radio"]:checked + label {
    background-color: #66b564;
    color: #fff;
}

.social {
    display: flex;
    align-items: center;
    margin: 0 15px 15px;
    padding: 10px;
    background-color: #ddd;
    border: solid 1px #aaa;
    border-radius: 5px;
}

.stat {
    margin-left: 10px;
}

.stat h3 {
    color: #8f87ff;
}

.stat span {
    font-size: 2.5rem;
    font-weight: 300;
    color: #888;
}

.member,
.activity {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    padding-bottom: 15px;
    align-items: center;
    text-align: center;
}

.member:not(:first-of-type),
.activity:not(:first-of-type) {
    padding-top: 15px;
    border-top: solid 1px #aaa;
}

.member img,
.activity img {
    width: 70px;
    border-radius: 50%;
}

.member p,
.activity p {
    margin: 0 10px;
}

.member a:link {
    color: #8f87ff;
}

.member a:hover {
    color: #66b564;
}

.member a:visited {
    color: #36315e;
}

.activity strong {
    font-weight: 600;
}

.send-btn,
.save-btn,
.cancel-btn {
    margin: 0 15px 15px;
    padding: 15px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.send-btn,
.save-btn {
    background-color: #8f87ff;
}

.save-btn,
.cancel-btn {
    width: 50%;
}

.cancel-btn {
    background-color: #888;
}

.setting label {
    margin: 15px;
}

.setting,
.settings-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ======================================== */
/* ===== ID SELECTORS ===================== */
/* ======================================== */

#main-header {
    padding: 10px;
    background-color: #8f87ff;
    color: #fff;
}

#main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36315e;
}

#main-nav a {
    text-decoration: none;
    fill: #fff;
}

#mobile-chart {
    height: 160px;
}

#search-user,
.autocomplete-items {
    box-sizing: border-box;
    width: calc(100% - 30px);
}

/* ======================================== */
/* ===== TOGGLE SWITCHES ================== */
/* ======================================== */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #8f87ff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #8f87ff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ======================================== */
/* ===== DROPDOWN MENU ==================== */
/* ======================================== */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    left: -50px;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    background-color: #ddd;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:nth-of-type(2n) {
    background-color: #eee;
}

.dropdown-content a:hover {
    background-color: #8f87ff;
    color: #fff;
}

.dropdown-content img {
    display: none;
}

.show {
    display: block;
}

/* ======================================== */
/* ===== AUTO COMPLETE ==================== */
/* ======================================== */

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    margin-left: 15px;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #ddd;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #8f87ff !important;
    color: #fff;
}

/* ======================================== */
/* ===== KEYFRAMES ======================== */
/* ======================================== */

@keyframes sway {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-50deg);
    }
    75% {
        transform: rotate(50deg);
    }
    100% {
        transform: rotate(0);
    }
}

/* ======================================== */
/* ===== SVG STYLES ======================= */
/* ======================================== */

.notification-bell {
    width: 25px;
    margin: 10px;
    transform-origin: 50% 20%;
    fill: #fff;
    cursor: pointer;
}

.notification-bell:hover {
    animation: sway .5s linear backwards;
}

.dropdown::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 5px;
    right: 10px;
    background-color: #66b564;
    border-radius: 50%;
}

.nav-svg,
.social-svg,
.social-bg {
    width: 30px;
    height: 30px;
}

.nav-svg {
    padding: 10px;
}

.social-svg {
    fill: #fff;
}

.social-bg {
    padding: 15px;
    background-color: #8f87ff;
    border-radius: 50%;
}

/* ======================================== */
/* ===== MEDIA QUERIES ==================== */
/* ======================================== */

@media screen and (min-width: 768px) {

    p {
        font-size: .9rem;
    }

    .primary-grid-container {
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "nav dashboard";
    }

    .dropdown-content {
        min-width: 260px;
    }

    .dropdown-content img {
        display: block;
        width: 40px;
        border-radius: 50%;
    }

    .traffic {
        grid-area: traffic;
    }

    .traffic div:first-of-type {
        display: flex;
        flex-direction: row;
    }

    .traffic h2 {
        margin-right: auto;
    }

    .daily-traffic {
        grid-area: daily-traffic;
        border-right: solid 1px #aaa;
    }

    .mobile-users {
        grid-area: mobile-users;
    }

    .social-stats {
        grid-area: social-stats;
    }

    .social-stats-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .social:not(:first-of-type) {
        margin-left: 0;
    }

    .member,
    .activity {
        flex-direction: row;
        text-align: left;
    }

    .member .date {
        margin-left: auto;
        margin-right: 0;
    }

    .setting {
        width: 50%;
    }

    #main-nav {
        flex-direction: column;
        justify-content: flex-start;
        grid-area: nav;
    }

    #dashboard {
        grid-area: dashboard;
    }

    #visits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "traffic traffic"
            "daily-traffic mobile-users"
            "social-stats social-stats";
    }

    #mobile-chart {
        height: 200px;
    }
}

@media screen and (min-width: 1024px) {

    .secondary-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "members members"
            "message settings";
    }

    .message-user {
        grid-area: message;
    }

    .message-user,
    .new-members {
        border-right: solid 1px #aaa;
    }

    .setting {
        width: 70%;
    }

    #mobile-chart {
        height: 240px;
    }

    #members {
        display: grid;
        grid-area: members;
        grid-template-columns: 1fr 1fr;
    }

    #settings {
        grid-area: settings;
    }

    #timezone {
        margin-top: 19px;
    }
}


